.DS_Store
.idea
*.pyc
*.swp
*/__pycache__/
.pytest_cache/
ui/
.test/
.ptconfig

data/*
!data/results
!data/dataset/tabfact/stop_words.json
!data/dataset/tabfact/freq_list.json

output/*
!output/.keep

temp/